{% extends "base.html" %}

{% block title %}{{ server.NAME }} - Search{% end %}
{% block body %}
    <div class="col-sm-10">
        {% set term = request.arguments['term'][0] if request.arguments.get('term', []) else None %}

        <div class="row">
            <div class="col-sm-8">
                <form method="GET" action="">
                    <input type="text" name="term" value="{{ term if term else '' }}">
                    <input type="submit">
                </form>
            </div>
        </div>

        <br/>

        {% if term is not None %}
            {% set results = api.search(term) %}
            {% for result in results %}
                {% set term_desc = api.get_desc(result) %}
                <div class="row">
                    <div class="col-sm-8">
                        <h3> {% module Template("term.html", term=result, api=api) %} </h3>
                        <p> {% raw term_desc %} </p>
                    </div>
                </div>
            {% end %}
        {% end %}
    </div>
{% end %}
